* {
    margin: 0;
    padding: 0;
}

body {
    font: 400px Helvetica, sans-serif;
    margin: 100px auto;
    padding: 0 0 100px;
    position: relative;
    width: 800px;
}
h1 {
    font-size: 32px;
}
p {
    color: #444;
    font-size: 12px;
    margin: 0 0 48px;
}
#flag {
    background-color:white;
    height: 1em;
    position: relative;
    width: 1.9em;
}

.stars {
    float: left;
    height: 0.062em;
    margin: 0 0.0650em 0.009em 0;
    width: 0.064em;
    border: 1px solid black;
}

#colonies div.stripe {
    background-color white;
    height: 0.0769em;
}
#colonies div.stripe:nth-child(odd) {
    background-color: red;
}


